
/*Estilos generales body y class container*/
#contenedor,body{
    height: auto;
    margin:10px;
    padding:10px;
    background:linear-gradient(135deg,#89dbc7 ,#56e6c6,#15a783, #0c8a75,#044e4a, #012019);
    background-attachment: fixed;
    font-family:'Times new roman';
    font-size:larger;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    
}
 /*Titulos y textos */

header{
    height:60px;
    width:710px;/*ancho*/
    padding:16px;
    text-align: center;
    color:#fdfdfd;
    font-family:'Times new roman';
    margin:0 auto;
}
#parrafo{
    height:75px;
    width:750px;
 
    padding:5px;
    text-align: center;
    font-family:'caption';
    font-style: italic;
    margin: 0 auto;
    color:whitesmoke;

}
/*selectores */
#analyzer{
    height:auto;
    width:750px;
    padding:10px;
    justify-self:center;
    display:flex;
    flex-wrap: wrap;
}

/*lista desordenada*/
ul{
   height:auto; /*100px;*/
   width:auto;/*700px;*/
   margin:10px;
   padding: 5px;
   display:flex;
   flex-wrap:wrap;
   list-style-type: none;/*elimina las viñeta*/
   justify-content:space-around; /* Centrar horizontalmente*/

    
}
/*lista ordenada*/

.list{
    height:auto;
    width:auto;
    padding:8px ; /*inside of the element */
    margin: 10px;
    border-radius: 15px;
    font-size: 21px;
    border: 1px solid #7cecd0;
    background-color:   #0c7c77;
    color: white;  
    display: flex;

}

textarea[name="user-input"]{ 
    height:150px;
    width:700px;
    padding:15px;
    background-color:#cafcf8fa;
    border-radius: 20px;
    border-color:#045753;
    font-size:22px;
    font-family:'caption' ;
    justify-content: center;
}

/*boton para re-iniciar el cuadro de texto*/
#reset-button{
    height:40px;
    width:160px; /*ancho*/
    background-color: #07706b;
    padding:5px;
    margin-left: 290px;
    border-color: #9fffe7;
    border-radius: 17px;
    /*display:flex;*/
    justify-self: center;
    font-size: 23px;
    color:whitesmoke;
    cursor: pointer;  /*Cambia la forma del cursor al pasar sobre el botón */  
}
#reset-button:hover{
    background-color: #25cfb3; 
}
footer{
    height:90px;
    width:730px;
    text-align:center;
    font-family: 'caption';
    font-style: oblique;
    margin:0 auto;
    padding:10px;
    color:whitesmoke;
}

